<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Just Tech News test</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        {{> post-info post}}
        {{#if loggedIn}}
        <form class="comment-form">
            <div>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button type="submit">add comment</button>
                <button type="button" class="upvote-btn">upvote</button>
            </div>
        </form>
        {{/if}}

        {{> comments post.comments}}

        {{#if loggedIn}}
        <script src="/javascript/comment.js"></script>
        <script src="/javascript/upvote.js"></script>
        {{/if}}
    </body>
</html>